@import "src/_variables.scss";

.list-content {
  margin-bottom: 4rem;

  @media (max-width: $middle-break-point) {
    flex-grow: 1;

    .fixed-on-sm {
      position: fixed;
      display: flex;
      justify-content: flex-end;
      bottom: 2rem;

      .btn {
        z-index: 1;
      }
    }
  }

  .link {
    color: inherit;
    text-decoration: inherit;
  }
}
